$imglogo-size: 50px;

#content-title {
		border-bottom: 1px solid #c7c7c7;
		color: #5d5656;
		cursor: default;
		font-weight: bold;
		text-decoration: none;
		font-size: 20px;
		padding: 0 0 10px 10px;
	}

#add-notes {
	background-color: #E8F5FD;
	padding: 10px;

	#add_notes_photo {
		width: $imglogo-size;
		height: $imglogo-size;
		background-image: url("../img/defaultlogo.png");
		background-size: cover;
		background-repeat: no-repeat;
		border-radius: 50%;
		border: 1px solid white;
	}
	.form-group {
    	textarea {
    		resize: none;
    		border-radius: 7px;
    		overflow:hidden
    	}
    	textarea:-moz-placeholder { color: #46587b; }
    	textarea::-webkit-input-placeholder { color: #46587b; }
    	padding-left: 10px;
    	margin-top: 5px;
	}
	#push_note {
		background-color: #60a6ef;
		border-radius: 7px;
		color: white;
		font-size: 14px;
		font-weight: bold;
		line-height: 20px;
		margin-top: 5px;
		display: none;
	}
}

#twits_wrapper {
	.twitblock {
		border-top: 1px solid #e6e0e0;
		padding: 10px 20px;
		position: relative;

		.dropdown{
			position: absolute;
			right: 10px;
			top: 0px;

			svg {
				cursor: pointer;
				color: gray;
				&:hover {
					color: #7da1b7;
				}
			}

			button {
				cursor: pointer;
				padding: 0px;
				border: none;
				background: none;
				&:focus { 
					outline: none;
				}
			}
		}


	}
}


.twit_photo {
	height: $imglogo-size;
	width: $imglogo-size;
	background-image: url("../img/defaultlogo.png");
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 50%;
	border: 1px solid white;
	margin-left:-15px;
	padding: 0px;
}

.twit_content {
	margin-left: -30px;
	svg {
		position: relative;
		right: -30px;
	}	
}

.twittitle_name {
	font-size: 14px;
	font-weight: bold;
	padding-left: 10px;
	padding-bottom: 10px;

	span {
		color: gray;
		padding-left: 10px;
	}
}

.twittest {
	padding-left: 10px;
}

.likediv {
	margin-top: 10px;
	cursor: pointer;
	svg {
		margin-left: -25px;
	}
	&:hover {
		*{color: #5da2e0;}
		&.likey {
			*{color: gray;}
		}
		&.liken {
			*{color: #5da2e0;}
		}
	}
	&.likey {
		*{color: #5da2e0;}
	}
	&.liken {
		*{color: gray;}
	}	
}