.follows_photo {
	height: $imglogo-size;
	width: $imglogo-size;
	background-image: url("../img/defaultlogo.png");
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 50%;
	border: 1px solid white;
	margin-right: 20px;
}

.user_data {
	padding-left: 10px;
    margin-top: -10px;
}

.user_list_link {
	color: inherit;
	text-decoration: none;

	&:hover {
		color: inherit;
		text-decoration: none;
	}
}

.userlistroot {
	border-top: 1px solid #d2c8c8;
	padding: 10px 10px;
	position: relative;

	.check {
		position: absolute;
		right: 25px;
		top: 17px;
		font-size: 1.5em;
		color: transparent;
	}

	&:hover {
		.check {
			color: #4069dc;
		}
	}
}