
.underline_h5{
	height: 5px;
	background-color: transparent; 
}

#top-navbar {
	border-bottom: 1px solid #d5d5d5;
	font-weight: bold;
	a{
		color: #657786;
	}
	a:hover {
		color: #a09062;
		div.underline_h5 {
			background-color: #a09062; 
		}		
	}
}