$bg-height: 380px;


#userbg {
	height: $bg-height;
	width: 100%;
	background-image: url("../img/testbg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0px -250px;
	position: relative;
}

#user-diary-status {
	height: 60px;
	background: #f8f9fa;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.25);

	ul>li>a {
		color: #657786;
		font-weight: bold;
	    letter-spacing: .02em;
	    transition: color .15s ease-in-out;	
	    padding-top: 10px;
	    .t1 {
			font-size: 14px;
	    }

	    .t2 {
	    	font-size: 18px;
	    	font-family: sans-serif; 
	    	display: block;
	    	width: 100%;
	    	text-align: center;
	    	padding-top: 0px;
	    	margin-top: -5px;
	    }
	    .t3 {
			height: 5px;
			background-color: transparent; 
	    }
	}

	ul>li>a:hover {
		.t3 {
			background-color: #a09062;
		}
	}
}

#left-user-info {
	#userlogo {
		width: 200px;
		height: 200px;
		border-radius: 50%;
		background-image: url("../img/testlogo.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		margin-top: -100px;
		border: 7px solid white;
	}
	#userlink {
		font-size: 21px;
	}
}