
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";
@import "header";
@import "content-box";
@import "user-styles";
@import "right-box";
@import "profile";
@import "follows_user";

// LIBS
@import '~bootstrap/scss/bootstrap';
@import "~noty/src/noty.scss";
@import "~noty/src/themes/relax.scss";

body {
	overflow-x: hidden;
	font-family: sans-serif; 
	letter-spacing: .02em;
}