
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";
@import "header";
@import "sidebar";
@import "mydiary";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
  overflow-x: hidden;
}

$mydiary-color: white;
.diary-block {
	background-color: $mydiary-color;
	padding: 10px;
	border-top: 1px solid $body-bg;
	border-radius: 10px;
	margin-top: 5px;
}

